force-app/main/default/flows/Benchmark_Metadata_Before_Save_Flow_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Record_to_newListAfterFlow</name>
        <label>Add Record to newListAfterFlow</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newListAfterFlow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Loop.Text_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benchmark Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_newListAfterFlow</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Metadata Before Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Benchmark - Metadata Before Save Flow Update</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>newList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Before_Save_Flow_Update__c</objectType>
    </variables>
    <variables>
        <name>newListAfterFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Metadata_Before_Save_Flow_Update__c</objectType>
    </variables>
    <variables>
        <name>oldList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Before_Save_Flow_Update__c</objectType>
    </variables>
</Flow>
